.top{
  position: relative;
  width: 400px;
  height: 100px;
  background: #f00;
}

.flex{  
 display:flex;
 position:absolute ;
 top:30px;
 right:30px;
 }  
 
.purple{
 margin:0 0 0 10px;
 width: 40px;
 height: 40px;
 background: #6729a0;
 box-shadow: 0 0 0 10px white;
 }
 
.main{
 width:400px;
 height:250px;
}
 
.cont{
float:left;
}

.left{
   width:150px;
   height:250px;
   background: #0a5;
}
 
.right{
   position:relative ;
   width:250px;
   height:250px;
   background: #2563eb;
 }

.container2{
 position:absolute ;
 top:20px;
 left:20px;
 }
 
.orange{
 margin:20px;
 list-style: none;
 width: 140px;
 height: 40px;
 background: #ff863f;
 box-shadow: 0 0 0 5px white;
}

.bottom{
   width:400px;
   height:100px;
   background: #fd0; 
 }
 