.top{
  position: relative;
  width: 400px;
  height: 100px;
  background: #f00;
}

.mainflex{  
 display:flex;
 }  

.redflex{
 padding:10px 10px 10px 0px;
 background:white;
 display:flex;
 position:absolute ;
 top:20px;
 right:20px;

}

.purple{
 width: 40px;
 height: 40px;
 background: #6729a0;
 margin-left: 10px;
 
 }

.green{
   width:150px;
   height:250px;
   background: #0a5;
}
 
.blue{
   position:relative ;
   width:250px;
   height:250px;
   background: #2563eb;
 }

.container{
 position:absolute ;
 top:40px;
 left:40px;
 }
 
.orange{
 margin-bottom:10px;
 width: 140px;
 height: 40px;
 background: #ff863f;
 border: solid 5px;
 border-color: white;
}

.bottom{
   width:400px;
   height:100px;
   background: #fd0; 
 }